/* Coolors Exported Palette - coolors.co/fffc31-5c415d-f6f7eb-e94f37-393e41 */

/* HSL */
$color1: hsla(59%, 100%, 60%, 1);
$color2: hsla(298%, 18%, 31%, 1);
$color3: hsla(65%, 43%, 95%, 1);
$color4: hsla(8%, 80%, 56%, 1);
$color5: hsla(203%, 7%, 24%, 1);

/* RGB */
$color1: rgba(255, 252, 49, 1);
$color2: rgba(92, 65, 93, 1);
$color3: rgba(246, 247, 235, 1);
$color4: rgba(233, 79, 55, 1);
$color5: rgba(57, 62, 65, 1);