$accent_orange:rgba(233, 79, 55, 1);
$background_black:rgba(57, 62, 65, 1);
$background_black2:rgba(35, 35, 35, 1);
$text_secondary:rgba(92, 104, 111, 1);
$body_blue:rgba(246, 247, 255, 1);
.outter{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: $background_black;
    width:40%;
    height: 80%;
    position: relative;
    .form{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90%;
        input{
            height: 3%;
            width: 97%;
            padding: 2%;
            border-radius: 5px;
            border: transparent;
            &:focus {
                border-color: $accent_orange;
                box-shadow: 0 0 1px 3px $accent_orange;
                box-shadow: 0 0 0 3px -moz-mac-focusring;
                color: #222; 
                outline: none;
            }
        }
        
        button{
            border: transparent;
            width: 70%;
            border-radius: 5px;
            margin: 2%;
            height: 10%;
            &:focus {
                border-color: $accent_orange;
                box-shadow: 0 0 1px 3px $accent_orange;
                box-shadow: 0 0 0 3px -moz-mac-focusring;
                color: #222; 
                outline: none;
            }
        }
    }
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.6;
    font-size: 1.3em;
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
@media (max-width:1000px){
    .container{
        width: 50%;
        height: 90%;
    .form{
        height: 95%;
    }    
    }
    
}
@media (max-width:600px){
    .container{
        width: calc(100% - 5em);
        height: 90%;
        .form{
            height: 95%;
        }    
    }
}
.errors{
    border: $accent_orange 1px solid !important;
}
.errors-text{
    color: red;
    font-size: 0.7em;
}
label{
    color: white;
    text-align: left;
    margin-bottom: 0.5%;
    width: 100%;
    font-size:calc(0.3vw + 0.9rem);
    font-weight: 500;
}
textarea{
    width: 97%;
    min-width: 97%;
    max-width: 105%;
    min-height: 10%;
    max-height: 20%;
    &:focus {
        border-color: $accent_orange;
            box-shadow: 0 0 1px 3px $accent_orange;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222; 
        outline: none;
    }
}
select{
    width: 100%;
    height: 5%;
    border-radius: 5px;
    option {
        background: $background_black2;
        color: white;
        &:hover{
            background: $background_black;
            color: red;
        }
    }
    &:focus {
        border-color: $accent_orange;
        box-shadow: 0 0 1px 3px $accent_orange;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222; 
        outline: none;
    }
}
.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: $background_black2;
}