<% include partials/header%>

<link rel="stylesheet" href="/css/404.css">
<div class="wrapper">
    <h1>404</h1>
    <p>Something went wrong... <a href="/browsejobs">go back</a></p>
    <h6>(<%= error %>)</h6>
</div>
<% include partials/footer%>
