<% include partials/header%>
<% include partials/nav%>
<link rel="stylesheet" href="/css/About.css">
<div class="wrapper">
    <div class="background">
    </div>
   <div class="textt">
    <div class="texxt">
        <h2>About Us:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugiat, accusamus nobis necessitatibus adipisci itaque nam quos hic quas distinctio cupiditate deleniti corrupti ipsam aliquid ipsum sint veritatis! Tempora perspiciatis, culpa non ex voluptates omnis molestiae voluptas nemo? Quaerat explicabo consequatur iure delectus, debitis nostrum repellendus, error assumenda nulla minima quas quisquam, eligendi eum animi reprehenderit ex saepe exercitationem eos beatae itaque? Eaque quod sequi esse labore porro vel possimus reprehenderit delectus, odio perferendis numquam, quas accusantium neque quia laudantium accusamus provident fugit! Adipisci debitis veritatis quos perspiciatis reprehenderit, facilis dignissimos aliquid totam dolor repellendus cupiditate nihil, porro mollitia? Dolores?</p>
</div>
   </div>
</div>




<% include partials/footer%>