<!-- <form id="myform">
    <input id="profileName" type="text">
    <div id="name-error"></div>
    <input id="phoneNumber" type="phoneNumber">
    <div id="number-error"></div>
    <input id="location" type="text">
    <div id="location-error"></div>
    <button>submit</button>
</form> -->
<% include partials/header %>
<link rel="stylesheet" href="/css/create/Profile.css">
<!-- <form id="myform">
    <input id="name" name="name" type="text" placeholder="name">
    <div id="name-error"></div>
    <input id="email" name="email" type="text" placeholder="email">
    <div id="email-error"></div>
    <input id="password" name="password" type="password" placeholder="password">
    <div id="password-error"></div>
    <input id="password2" name="password2" type="password" placeholder="confirm password">
    <div id="password2-error"></div>
    <button type="submit" >Register</button>
</form> -->
<div class="outter">
  <div class="background"></div>
  <div class="container">
      
      <form class="form" id="myform">

        <label for="profileName">what's your name?</label>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="firstName" placeholder="fist name">
        <div class="errors-text" id="firstName-error"></div>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="profileName" placeholder="last name">
        <div class="errors-text" id="profileName-error"></div>
        

        <label for="phoneNumber">what's your phone number?</label>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="number" id="phoneNumber" placeholder="eg:0612345678">
        <div class="errors-text" id="phoneNumber-error"></div>

        <label for="title">what do you do?</label>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="title" placeholder="eg:developper,designer...">
        <div class="errors-text" id="title-error"></div>

        <label for="location">where do you live?</label>
        <select default="chose a city..."  id="location">
            <option value="" disabled selected>chose a city...</option>
            <option value="casablanca">casablanca</option>
            <option value="rabat">rabat</option>
            <option value="mohemadia">mohemadia</option>
        </select>
        <div class="errors-text" id="location-error"></div>

        <label for="bio">Bio</label>
        
        
        <textarea name="" id="bio" placeholder=" Tell us more about yourself..." cols="30" rows="5"></textarea>
        <div class="errors-text" id="bio-error"></div>
        <button class="btn-click"><span class="btn-text">Create Profile</span></button>
        
      </form>
  </div>
</div>
<script src="/javascript/createProfile.js"></script>
<% include partials/footer %>