<% include partials/header %>
<link rel="stylesheet" href="/style/home/home.css">
<div class="img-container">
        <img src="/img/home-bg.png" alt="">
</div>
<div class="home-container">
        
        <div class="inner-container">
                <div class="nav">
                        <h1>Home</h1>
                        <ul>
                            <li>How it works</li>
                            <li>Browse jobs</li>
                        </ul>
                    </div>
                    <div class="btns">
                            <div class="btn-click">
                                    <a class="btn-text" href="/register">Join</a>
                                </div>
                                <br />
                                <div class="btn-second">
                                    <a class="btn-text" href="/login">Log in</a>
                                </div>
                    </div>
        </div>
        
</div>
<!-- <p class="titles">title</p>
<p class="sub-titles">subtitle</p>
<p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, 
mollitia.</p>
<div class="container">
        <div class="btn-click">
                <a class="btn-text" href="">Join</a>
            </div>
            <div class="btn-second">
                    <a class="btn-text" href="">Log in</a>
                </div>
</div> -->
<% include partials/footer %>
